.Cta-section {
  position: relative;
  width: 100%;
  height: 1110px;
  margin: 0;
}
.blobs-container {
  position: absolute;
  top: -408px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  
}

.cta-card-holder {
  display: flex;
  align-items: center;
  width: 100%;
}
.cta-card {
  max-width: 1288px;
  margin: 138px auto;
  padding: 52px 50px 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  border-radius: 45px;
  background: radial-gradient(
      97.57% 210.75% at 0.9% 2.98%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(150px);
  /* Note: backdrop-filter has minimal browser support */

  
}

.call {
  font-family: "Monument Extended Regular", sans-serif;
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.cta-card h1 {
  margin-top: 27px;

  font-family: "Monument Extended Black", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.buy {
    margin-top: 41px;
    background: #fafafa;
    border-radius: 25px;
    padding: 0;
    width: 50%;
    height: 20%;
    min-height: 80px;
    min-width: 175px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;
    transition: 0.2s;
  }
  
  .buy p {
    font-family: "Monument Extended Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 82px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  
  .buy:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }

   .buy span {
    position: absolute;
   }

   .buy span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }

   .buy:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   .buy  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   .buy:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   .buy  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   .buy:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   .buy  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   .buy:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   .buy:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   .buy:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   
@media (max-width: 768px) {
  .call {
    font-size: 15px;
  }
  .cta-card h1 {
    font-size: 23px;
    margin-top: 12px;
    line-height: normal;
  }

  .buy p {
    font-size: 20px;
    line-height: 35px;
    line-height: normal;
  }
}

@media (max-width: 576px) {
  .call {
      font-size: 12px;
      line-height: 16px;
    }
  .cta-card h1 {
      font-size: 16px;
      line-height: normal;
    }
  .buy p {
    font-size: 15px;
  }
}