.navbar-section {
  width: 100%;
  background-color: #ffffff;
}

.text-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.left-text,
.right-text {
  font-family: "Monument Extended Black";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0;
}

.right-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.sa {
  margin-left: 5px;
  width: 1vh;
  height: 1vh;
}

.logo {
  margin: 10px 0;
  display: flex;
  align-items: center;
  object-fit: fill;
}



@media (min-width: 758px) {
  .text-slider {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  .left-text p,
  .right-text p{
    font-size: 21px;
    line-height: 23px;
    text-align: center;
  }

  .right-text {
    margin-top: 0;
  }

  .logo {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .left-text p,
  .right-text p {
    font-size: 13px;
    line-height: 23px;
    text-align: center;
  }
  .logo {
    size: 10vh;
  }
  .right-text {
    margin-top: 0;
  }

  .logo {
    margin: 0;
    
  }

  .logo img {
    width: 180px;
  }
}