/* This will contain the general styles for the layout of the body and website structure and we will place all our variables
in the index.css where the background stuff go */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 body{
    background: var(--color-app);
 }

 /* General Link styles*/
a{
    color: unset;
    /* The color unset property allows for an element to be reverted to it's original colour under the parent element */
    text-decoration: none;
}

.color-app{
    background: var(--color-app);
}

/*Section Styles: General*/

.section__padding{
    padding: 2rem 3rem;
}
.section__margin{

margin: 2rem 3rem;
}



/* Media Quesries */

/*Middle Sized Devices*/

@media screen and (max-width: 700px) {
    .section__padding{
        padding: 2rem;
    }
    .section__margin{

    margin: 2rem;
    }
}

/* Smaller sized devices
*/
@media screen and (max-width: 700px) {
    .section__padding{
        padding: 1rem 2rem;
    }
    .section__margin{

    margin: 1rem 2rem;
    }
}